*.d
*.o
*.a
*.so*
*.lcrso
*.pc
*.la
*.lo
make/config.h*
make/stamp-h1
Makefile.in
Makefile
.deps
.libs
aclocal.m4
autoconf
autoheader
autom4te.cache
automake
compile
config.*
configure
depcomp
install-sh
libtoolize
ltmain.sh
m4
missing
libtool
cman/cman_tool/cman_tool
cman/notifyd/cman_notify
cman/notifyd/cmannotifyd
cman/qdisk/mkqdisk
cman/qdisk/qdiskd
cman/tests/client
cman/tests/sysman
cman/tests/sysmand
config/tools/ccs_tool/ccs_tool
config/tools/ldap/confdb2ldif
config/tools/mkconf/cman-mkconf
doc/cluster
group/tool/group_tool
